* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 245, 241)
}

.img-container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}

.team-member {
    width: calc((100% / 3) - 20px);
    text-align: center;
    background-color: white;
}
.team-member > .team-footer {
    padding: 20px;
    color: rgb(121, 116, 110);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.team-member > img {
    width: 100%;
}